<div class="my-3 p-2 grid grid-cols-3 gap-x-4 gap-y-6">
  <div *ngFor="let product of products; index as i">
    <div class="card shadow-[0_0_8px_4px_rgba(0,0,0,0.25)]">
      <div class="card-media">
        <div class="w-full overflow-hidden flex justify-center items-center">
          <img
            [src]="product.image_url"
            class="w-full h-40 transform hover:scale-110 transition duration-300 ease-in-out"
            alt=""
          />
        </div>
      </div>
      <div class="card-body p-2 h-45 mt-2">
        <div class="flex flex-col gap-5">
          <div class="flex justify-start items-center text-xl font-medium">
            <h4>{{product.name}}</h4>
          </div>
          <div class="flex justify-start items-center">
            <p class="text-gray-500">{{product.description}}</p>
          </div>
        </div>
      </div>
      <hr class="text-gray-400" />
      <div
        [ngClass]="{'justify-center':hoveredIndex === i}"
        class="card-footer h-10 flex items-center"
        (mouseenter)="hoveredIndex  = i"
        (mouseleave)="hoveredIndex  = -1"
      >
        <div class="flex p-2 gap-3" [ngClass]="{'hidden':hoveredIndex === i}">
          <div
            *ngIf="product.discount !== '0'; else normalPrice"
            class="flex gap-5"
          >
            <del>{{product.price}}</del>
            <span>{{product.newPrice}}</span>
          </div>
          <ng-template #normalPrice> {{ product.price }} </ng-template>
        </div>
        @if (hoveredIndex === i) {
        <div class="flex gap-4">
          <button
            class="text-white rounded-lg bg-red-600 hover:bg-red-700 p-1 px-4"
            (click)="confirmDeleteProduct(product.id)"
          >
            delete
          </button>
          <button
          (click)="update(product.id)"
            class="text-white rounded-lg bg-blue-600 hover:bg-blue-700 p-1 px-4"
          >
            update
          </button>
        </div>
        }
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center items-center" *ngIf="!loading">
  <button
    class="outline-none m-4 p-2 px-5 content-center flex items-center gap-3 text-white rounded-lg bg-blue-600 hover:bg-blue-700 cursor-pointer"
    (click)="add_phone()"
  >
    <mat-icon> add_circle </mat-icon>
    Add Phone
  </button>
</div>

<app-modal
  [open]="modal_open"
  [title]="'Are you sure you want to delete this product?'"
  [width]="'500px'"
  (close)="closeModal()"
  (confirm)="onDelete()"
>
  <p>
    This action cannot be undone. The product will be permanently removed from
    the system.
  </p>
</app-modal>

<app-error-toast
  [show]="show_error"
  [error_text]="error_text"
  [bg_color]="error_color"
></app-error-toast>

<div
  *ngIf="loading"
  class="absolute left-0 top-0 w-full h-full overflow-hidden flex justify-center items-center"
>
  <app-loading></app-loading>
</div>
