<div
  class="border border-solid border-black rounded-lg flex flex-col p-2 gap-4"
  [formGroup]="parent.form"
>
  <label for="name">Name</label>
  <input
    type="text"
    name="Name"
    id="Name"
    formControlName="name"
    class="border border-solid border-black rounded-lg p-1 px-2"
  />
  <app-error-message
    [control]="parent.form.get('name')"
    fieldName="name"
  ></app-error-message>
  <label for="Description">Description</label>
  <textarea
    name="Description"
    id="Description"
    rows="6"
    formControlName="Description"
    class="border border-solid border-black rounded-lg p-2 resize-none"
  ></textarea>
  <app-error-message
    [control]="parent.form.get('Description')"
    fieldName="Description"
  ></app-error-message>
  <label
    for="file-upload"
    class="m-auto border border-dashed border-gray-500 w-20 h-20 flex justify-center items-center cursor-pointer text-green-500 font-bold"
  >
    <mat-icon> add_2</mat-icon>
  </label>
  <input
    type="file"
    id="file-upload"
    multiple
    accept="image/*"
    class="hidden"
    formControlName="image"
  />
  <app-error-message
    [control]="parent.form.get('image')"
    fieldName="image"
  ></app-error-message>
</div>
