<div
  *ngIf="advDetails"
  class="border border-solid border-black rounded-lg flex flex-col p-2 gap-4"
  [formGroup]="parent.form"
>
  <label for="name">Name</label>
  <input
    type="text"
    name="name"
    id="name"
    formControlName="name"
    (input)="onInput($event)"
    class="border border-solid border-black rounded-lg p-1 px-2"
    [(ngModel)]="advDetails[0].name"
  />
  <app-error-message
    [control]="parent.form.get('name')"
    fieldName="name"
  ></app-error-message>
  <label for="Description">Description</label>
  <textarea
    name="Description"
    id="Description"
    rows="6"
    formControlName="Description"
    (input)="onTextarea($event)"
    class="border border-solid border-black rounded-lg p-2 resize-none"
    [(ngModel)]="advDetails[0].description"
  ></textarea>
  <app-error-message
    [control]="parent.form.get('Description')"
    fieldName="Description"
  ></app-error-message>
  <app-image
    (fileChosen)="reciveImage($event)"
    [image_src]="advDetails ? advDetails[0].image : null"
  ></app-image>
</div>

<div
  *ngIf="advDetails === null"
  class="border border-solid border-black rounded-lg flex flex-col p-2 gap-4"
  [formGroup]="parent.form"
>
  <label for="name">Name</label>
  <input
    type="text"
    name="name"
    id="name"
    formControlName="name"
    (input)="onInput($event)"
    class="border border-solid border-black rounded-lg p-1 px-2"
  />
  <app-error-message
    [control]="parent.form.get('name')"
    fieldName="name"
  ></app-error-message>
  <label for="Description">Description</label>
  <textarea
    name="Description"
    id="Description"
    rows="6"
    formControlName="Description"
    (input)="onTextarea($event)"
    class="border border-solid border-black rounded-lg p-2 resize-none"
  ></textarea>
  <app-error-message
    [control]="parent.form.get('Description')"
    fieldName="Description"
  ></app-error-message>
  <app-image
    (fileChosen)="reciveImage($event)"
  ></app-image>
</div>





